Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
distanceTransform.opensdf
distanceTransform.sdf
ipch/distancetransform-68162b52/distancetransform-5c3f770b.ipch
ipch/distancetransform-68162b52/distancetransform-7b996f93.ipch
